.cust-footer {
    background-color: rgb(35, 35, 35);
    min-height: 20vh;
    /* margin-top: 50px; */
    padding-top: 10px;
    position: static;
    margin-bottom: 0;
    /* bottom: 0; */
}



.social-icons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.cust-icon {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.cust-copy p {
    color: white;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 0;
    padding-bottom: 10px;
}

@media only screen and (max-width: 768) {
    .cust-icon {
        margin-left: 5px;
        margin-right: 5px;
    }
}