.cust-header {
    margin-bottom: 0px;
}

.cust-nav {
    background-color: rgba(0, 0, 0, 0.615);
    display: flex;
    justify-content: space-between !important;
    min-height: 10vh;
}

.cust-log {
    width: 25%;
}

.cust-nav-items {
    justify-content: end;
}

.cust-navlink {
    color: white !important;
}

