.custPjCat {
    margin: 10px 5px;
}

.custPjBtn {
    background-color: rgb(200, 224, 247) !important;
    align-items: center;
    justify-content: center;
}

.custPjBtn p {
    color: blue;
    margin-bottom: 0;
}
